/* Overrides */

body, html {
  font-family: IBM Plex Sans !important;
  font-size: 14px;
  font-weight: normal !important;
  color: #232735 !important;
}

.cookieConsent a {
  color: #959595 !important;
}

// .ant-modal-centered .ant-modal {
//   top: 0;
//   display: inline-block;
//   text-align: left;
//   vertical-align: text-bottom;
// }

#treten {
  margin-top: 5.6rem;
  .navbar-light .navbar-nav .nav-link {
    color: #232735;
  }

  [contenteditable]:focus {
    outline: 0px solid transparent;
  }

  .video-js {
    width: 100%;
  }

  .dropdown-menu {
    border-radius: .40rem !important;
  }

  .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
  }

  .instructors-list td {
    padding: 26px 16px !important;
  }

  // .ant-btn-danger[disabled] {
  //   // color: #ff9898 !important;
  //   border: none !important;
  //   background: #e1282875 !important;
  //   color: #e6e6e6 !important;
  // }

  .ant-tabs-ink-bar {
    height: 3px;
    background-color: #e12828;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
  }

  .ant-radio-group {
    display: flex;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    color: #fff;
    background: #222829;
    border-color: #222829;
  }

  .ant-btn-background-ghost.ant-btn-primary {
    color: #222829;
    border-color: #222829;
  }

  label {
    font-size: 1.1rem;
  }

  .ant-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    background: #fff;
    // height: 100vh;
  }

  .ant-layout-header {
    border-bottom: 1px solid #F0F1F3;
  }

  .el-select-dropdown__item.selected {
    background: #f0f0f0 !important;
    color: black;
  }

  .main-header {
    font-size: 1.72rem;
  }

  .sidenav-top {
    height: 5rem;
  }

  .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.65);
    background: #222829;
  }

  .ant-layout-sider {
    background: #222829;
  }

  .ant-layout-content {
    // min-width: 200px;
    height: 100vh;
    overflow-y: scroll;
    min-width: 295px;
    // background: #FDFDFD !important;
    background: #fbfbfb !important
  }

  li.ant-menu-item.ant-menu-item-selected,
  li.ant-menu-item.ant-menu-item-selected span {
    color: #E12828 !important;
  }

  li.ant-menu-item {
    height: 64px;
    display: flex;
    align-items: center;
  }
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background: #E12828 !important;
    color: #E12828 !important;
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #ffffff;
  }

  .ant-form-explain {
    margin-top: 2px;
  }

  .container-fluid {
    padding: 0px 50px !important;
  }

  .card {
    border: none !important
  }

  .courses .card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .card-img {
    height: 28.5vw;
    object-fit: cover;
    max-height: 325px;
  }

  .ant-btn-lg, .ant-input-lg {
    font-size: 14px;
  }

  .ant-input {
    border: 1px solid #D3D4D8;

    background: white;
    border: 1px solid #cccccc !important;
  }

  .ant-slider-track {
    background-color: #E12828;
  }

  .ant-slider-handle {
    border: solid 2px #E12828;
  }

  .search-bar {
    input.ant-input{
      height: 50px !important;
      border-radius: 0px !important;
    }

    .ant-select-selection.ant-select-selection--single {
      height: 50px;
    }
    
    .ant-select-selection-selected-value {
      padding-top: 7px;
    }
  }

 .ant-input[disabled] {
    border: 1px solid #ececec !important;
    color: #cecece !important;
  }

  .slick-slide {
    padding: 10px;
  }

  .banner .slick-slide {
    padding: 0px;
  }


  .slick-dots li button:before {
    font-size: 10px !important;
  }

  .slick-dots {
    bottom: -50px;
  }

  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #E12828;
  }

  .slick-dots li button:before {
    color: rgba(225, 40, 40, 0.67);
  }

  // .slick-list {
  //   min-height: 300px;
  //    .slick-track {    
  //     margin-left: 0;
  //   }
  // }

  .slick-track {
    display: inline-flex;
  }

  .center {
    .slick-list {
       .slick-track {    
        margin: auto !important;
      }
    }
  }

  .react-tel-input input[type=text],
  .react-tel-input input[type=tel] {
    width: 100% !important
  }

  .slick-slider {
    /* width: 1550px;
    position: initial;
    height: 400px;
    margin-bottom: 50px; */
  }

  .slider-wrapper {
    /* width: 1360px;
    overflow: hidden;
    position: relative; */
  }

  .slick-prev:before, .slick-next:before {
  }

  /* .slick-list{padding:0 20% 0 0;} */

  /* .slick-list {
    overflow: visible;
  } */

  .slick-next:before {
    font-family: 'slick';
    font-size: 28px;
    color: black !important;
  }

  .ant-pagination-prev, .ant-pagination-next {
    width: 45px;
  }

  .ant-pagination-item-active {
    font-weight: 500;
    background: #222829;
    border-color: #222829;
    color: white;
    width: 45px;

    a {
      color: white;
    }
  }



  .tag {
    border-radius: 50px;
    text-align: center;
    height: 32px;
    min-width: 65%;
    max-width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tag.is-success {
    background: #F1FFFB;
    color: #00C48C;
  }

  .tag.is-grey {
    background: #F0F1F3;
    color: #505565;
  }

  .tag.is-danger {
    background: #ff00004a;
    color: #dc3545 !important;
    width: 150px;
  }

  .tag.is-warning {
    background: #ffc1072e;
    color: #ffc107 !important;
    width: 150px;
  }

  .tag.no-radius {
    border-radius: 0px; 
  }

  label {
    margin-bottom: 0px !important;
    display: block;
  }

  input, textarea {
    border: 1px solid #F0F1F3 !important;
  }

  input {
    height: 40px !important;
  }

  a {
    color: #232735 ;
    text-decoration: none !important;
  }

  p {
    font-size: 1.142rem;
  }

  /* COMPONENTS */

  .facebook-btn,
  .facebook-btn:active,
  .facebook-btn:hover  {
    width: 160px;
    height: 40px;
    background: #3C5A99;
    border-radius: 4px;
    border-color: #3C5A99;
    text-align: left;
  }

  .facebook-btn img,
  .linkedin-btn img {
    height: 19px;
  }

  .linkedin-btn,
  .linkedin-btn:active,
  .linkedin-btn:hover {
    width: 160px;
    height: 40px;
    background: #0077B5;
    border-radius: 4px;
    border-color: #0077B5;
    text-align: left;
  }

  /* SEARCH */
  .search .ant-input-search {
    height: 60px !important;
    padding-right: 11px;
    background: white;
    border-radius: 4px;
  }

  .search .ant-input-wrapper,
  .search .ant-input-lg {
    height: 60px !important;
    border: 0px !important;
  }

  .search .ant-input-group-addon {
    position: relative;
    padding: 0 11px !important;
    background: white;
  }

  .search button.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg {
    border-radius: 5px;
    width: 90px;
    background: #E12828;
    border-color:  #E12828;
  }
  /* SEARCH END */

  .ql-toolbar.ql-snow {
    border: 1px solid #f1f1f3;
  }

  .ql-container.ql-snow {
    border: 1px solid #f1f1f3;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0px;
  }

  .ql-container.ql-snow {
    height: 200px;
  }

  .ql-editor {
    background: white;
  }

  .ant-steps-item-finish > .ant-steps-item-tail::after {
    background-color: #e12828;
  }

  .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: #e12828;
  }

  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: #e12828;
  }

  .ant-btn-secondary:active, .ant-btn-secondary.active, .ant-btn-secondary:hover, .ant-btn-secondary:focus {
    color: #ffffff;
    background-color: #fff;
    border-color: transparent;
  }

  .ant-btn-secondary.ant-btn-lg[disabled], .ant-btn-secondary.ant-btn-lg[disabled]:hover, .ant-btn-secondary.ant-btn-lg[disabled]:focus {
    color: #b5b5b5cf;
    background: #222829b8 !important
  }

  .ant-table-scroll table .ant-table-fixed-columns-in-body {
    visibility: initial;
  }

  .expandable-block {

    .expandable-block__left {
      margin-bottom: 0px;
      display: flex;
      align-items: flex-end;
    }

    hr {
      position: initial;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
    }

    p {
      font-size: 1.143rem;
    }
  }





  /* COMPONENTS END */



}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 20px;
  height: 100px;
  border-width: 2px;
  border-radius: 4px;
  border-color: #8B90A0;
  border-style: dashed;
  background-color: #fff;
  color: #8B90A0;
  outline: none;
  justify-content: center;
  transition: border .24s ease-in-out;
}

// .ant-select-selection__rendered {
//   height: 50px;
// }

.ant-btn-danger[disabled] {
  // color: #ff9898 !important;
  border: none !important;
  background: #e1282875 !important;
  color: #e6e6e6 !important;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1160px !important;
  }
}

@media (min-width: 1440px) {
  .container {
      max-width: 1310px !important;
  }
}

@media (max-width: 960px) {
  html, body {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  html, body {
    font-size: 13px;
  }
}


@media (min-width: 768px) {
  .container {
    max-width: 820px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 1100px;
  }
}

@media (max-width: 567px) {
  #treten .pl-6{
    padding-left: .5rem !important;
  }

  .flex-xs-column {
    flex-direction: column;
  }

  #treten .pr-6{
    padding-right: .5rem !important;
  }
  html, body {
    font-size: 12px;
  }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, 
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #e12828;
}

.ant-cascader-menu-item {
  text-transform: capitalize !important;
}

li.ant-cascader-menu-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.ant-cascader-menu {
  width: 200px;
  height: 320px;
  padding: 15px 10px;
}

div {
  outline: none !important;
}