
/* CONTACT US FORM */

.contact-us {
  height: 620px;
  margin-bottom: 400px;
}

.contactus-form {
  background: #FFFFFF;
  border: 1px solid #F0F1F3;
  box-sizing: border-box;
  border-radius: 4px;
}
/* CONTACT US FORM */