/* INTERVIEW QUESTIONS */
.interview-questions {
  position: relative;
}

.interview-questions .card {
  box-shadow: 0px 3px 25px rgba(35, 39, 53, 0.03);
  border-radius: 4px;
  border-top: 5px solid #E12828 !important;
}

.interview-questions .card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #232735;
}

.interview-questions hr {
  border-bottom: .1px solid #F0F1F3;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}
/* INTERVIEW QUESTIONS END  */