
/* NAVBAR STYlES */
#treten {
  .ant-layout-header {
    height: 5rem;
    padding: 0 50px;
    line-height: 5rem;
    background: white;
    box-shadow: 0px 0px 25px rgba(30, 34, 37, 0.15);
  }

  .header__left {
    width: 100%;
    float: left;
  }

  .header ul.header__right {
    line-height: 80px;
  }

  .header svg {
    font-size: 12px;
    margin-left: 10px;
  }

  .brand {
    margin-right: 5rem;
    min-width: 180px;
  }

  .brand__text {
    font-size: 20px;
    margin: 0px !important;
    line-height: 25px;
  }

  .brand__logo {
    height: 22px;
    margin-right: .5rem;
    margin-top: 2px;
  }



  .navbar {
    box-shadow: 0px 0px 25px rgba(30, 34, 37, 0.15);
    min-height: 80px;
    background: white;
    padding: 0px;
  }

  .navbar i {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 2px;
  }

  .navbar li a {
    display: flex;
    align-items: center;
    margin: 0px 4px;
  }

  .navbar .nav-item img {
    height: 40px;
    width: 40px;
    border: 3px solid #e128286b;
    // margin-left: 15px;
  }

  .navbar-brand {
    // margin-right: 4rem !important;
  }

  .alt-nav .container {
    justify-content: center;
    .nav-back {
      position: absolute;
      left: 5%;
    }
  }

  .nav-item {
    display: flex;
  }

  .navbar-nav .nav-item {
    margin: 6px 4px;
  }

  @media screen and (min-width: 800px) {
    .navbar-nav .nav-item {
      margin: 6px 10px;
    }
  }

  @media screen and (min-width: 991px) and (max-width: 1024px) {
    .navbar-nav .nav-item {
      margin: 6px 5px;
    }
  }

  .nav-item a {
    font-size: 14px;
  }

  .courses.dropdown-menu {
    // width: 270px;
    // height: 250px;
    width: 460px;
    min-height: 300px;
  }
}

/* end nav */

@media (max-width: 992px) {
  nav .mr-auto.nav {
    display: none;
  }
}

@media (max-width: 998px) {
  // nav .mr-auto.nav {
  //   display: none;
  // }
}

@media (max-width: 768px) {
  #treten .courses.dropdown-menu {
    min-width: 320px;
    min-height: 250px;
  }
}

@media (max-width: 578px) {
  #treten .courses.dropdown-menu {
    width: 270px;
    min-width: 270px;
    min-height: 250px;
  }
}
