#treten .enroll {
    /* ENROLL */

  .enroll__button {
    border: 1px solid #E12829 !important;
    background: transparent !important;
    color: #E12829 !important;
    border-radius: 50px !important;
    width: 150px !important;
  }  

  .step {
    position: relative;
  }

  .step {

    .wrapper {
      background: #FFFFFF;
      border: 1px solid #F0F1F3;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 4px;
      transition: all .2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }

    &:after {
      background:#D3D4D8;
      width: 6px;
      height: 6px;
      display: block;
      content: '';
      border-radius: 100%;
      position: absolute;
      left: -19px;
      top: 27px;
    }
  
    &.active:after {
      background: red;
      /* top: 8px; */
    }

    // .step.first::after {
    //   top: 8px;
    // }
  
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background: #ffffff;
      display: block;
      position: absolute;
      left: -26px;
      border-radius: 100%;
      top: 20px;
      /* top: 0px; */
      border: 4px solid #F0F1F3;
    }

    @media (max-width: 575px) {
      &::before {
       left: -9px;
      }

      &:after {
        left: -2px;
      }
    }

     
    &:nth-child(1) .wrapper {
      @media (max-width: 767px) {
        // & {
        //   min-height: 362px;
        // }
      }
      @media (min-width: 768px) {
        & {
          height: 362px;
        }
      }
    }
  }


  .step h5 {
    font-size: 1.14rem;
  }

  .step h6 {
    font-size: 1rem
  }

  .step p {
    font-size: 1rem;
    color: #662D91;
    font-weight: bold;
  }

  .step .plan h6 {
    font-size: 1rem;
  }

  .step .plan h3 {
    font-size: 18px;
  }

  .step .plan p {
    font-size: 0.86rem;
  }

  .step button {
    width: 140px;
  }

  .avaliable-date {
    // border: 1px solid #F0F1F3;
    border: 1px solid rgba(175, 45, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    // width: 120px;
    text-align: center;
    box-shadow: -1px 1px 14px 1px #e6e6e6;
  }

  .step .plan {
    border: 1px solid #F0F1F3;
    box-sizing: border-box;
    border-radius: 4px;
    height: 190px;
    cursor: pointer;
  }

  .step .plan hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.1px solid #505565;
    width: 60px;
    height: 0px;
  }

  .step .plan.selected {
    // background: #222829;
    background: linear-gradient(131.33deg, #1C6CFF -5.65%, #4E57FF 25.93%, #AF2DFF 82.42%);
    border: 0.75px solid #0071BC;
    color: whitesmoke
  }

  .step .avaliable-date.selected {
    // background: #222829;
    background: linear-gradient(131.33deg, #1C6CFF -5.65%, #4E57FF 25.93%, #AF2DFF 82.42%);
    box-shadow: 0px 0px 10px 6px whitesmoke;
    border: 0.75px solid #0071BC;
    p {
      color: whitesmoke
    }
  }

  .step .plan.selected h3{
    color: white
  }

  .step .plan.selected h6{
    color: whitesmoke
  }

  .step .ant-btn.disabled, .step .ant-btn[disabled] {
    background: #D3D4D8;
    border-radius: 4px;
    width: 110px;
    color: white;
    border: none
  }

  

  // .step.first::before{
  //   top: 0px;
  // }

  .slick-dots {
    bottom: -25px !important;
  }

  .slick-list {
    min-height: 10px;
    height: 50px;
  }

  /* .step.active::before{
    top: 0px;
  } */

  /* ENROLL END */
}